SERVICE_PORT=5001
SERVICE_ADDRESS=0.0.0.0
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
TIMEOUT=60000
PARTICLE_AUTHORIZATION_URL=https://api.particle.network/server/rpc
PARTICLE_PROJECT_ID=
PARTICLE_CLIENT_KEY=
ENVIRONMENT=