REACT_APP_PARTICLE_PROJECT_ID=
REACT_APP_PARTICLE_CLIENT_KEY=
REACT_APP_PARTICLE_APP_ID=
REACT_APP_IPFS_IMAGE_URL=https://rpc.particle.network/ipfs/upload
REACT_APP_IPFS_JSON_URL=https://rpc.particle.network/ipfs/upload_json
REACT_APP_WALLETCONNECT_PROJECT_ID=
REACT_APP_API_ADDRESS=
REACT_APP_CONTRACT_PROXY_ADDRESS_DEV=
REACT_APP_CHAIN_ADDRESS_DEV=
REACT_APP_CHAIN_ID_DEV=
REACT_APP_CHAIN_ACCOUNT_DEV=
REACT_APP_CONTRACT_PROXY_ADDRESS_TESTING=
REACT_APP_CHAIN_ADDRESS_TESTING=
REACT_APP_CHAIN_ID_TESTING=
REACT_APP_CHAIN_ACCOUNT_TESTING=
REACT_APP_CONTRACT_PROXY_ADDRESS_PROD=
REACT_APP_CHAIN_ADDRESS_PROD=
REACT_APP_CHAIN_ID_PROD=
REACT_APP_CHAIN_ACCOUNT_PROD=
REACT_APP_ENV=dev
REACT_APP_CHAIN_ENV=dev